<div class="part-1">
    <div class="phone-email">
        <img src="assets/icons/bx-phone-call.svg" alt="phone">
        <p>998 242 0184</p>
    </div>
    <div class="phone-email">
        <img src="assets/icons/bx-envelope.svg" alt="mail">
        <p>contacto@ankyrarealty.com</p>
    </div>
    <div class="social">
        <img src="assets/img/4.png" alt="social">
        <img src="assets/img/10.png" alt="social">
        <img style="width: 10px;" src="assets/img/11.png" alt="social">
        <img src="assets/img/12.png" alt="social">
    </div>
</div>

<div class="navbar">
    <img class="logo" src="assets/img/6.png" alt="logo">
    <img class="menu" src="assets/icons/bx-menu.svg" alt="menu">

</div>